%nav#navigation.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand jerseypropertyservices.com
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', url(:page, :home)
        %li
          = link_to 'Contact', url(:page, :contact)
        %li
          = link_to 'About', url(:page, :about)
        - if signed_in?
          %li
            = link_to 'Logout', url(:sessions, :destroy)
          %li
            = link_to 'Edit Profile', url(:users, :edit, id: session[:current_user])
        - else
          %li
            = link_to 'Login', url(:sessions, :new)
          %li
            = link_to 'Register', url(:users, :new)
      %ul.nav.navbar-nav.navbar-right
        %li.navbar-brand.copyright
          &copy; 2015 jerseypropertyservices.com
        -# %form.navbar-form.navbar-left{:role => "search"}
        -#   .form-group
        -#     %input.form-control{:placeholder => "Search", :type => "text"}
        -#   %button.btn.btn-default{:type => "submit"} Submit
